<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>jsptest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyOneServlet</display-name>
    <servlet-name>MyOneServlet</servlet-name>
    <servlet-class>sample.MyOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyOneServlet</servlet-name>
    <url-pattern>/MyOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycle</display-name>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>sample.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/LC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>sample.Hello</servlet-class>
    <init-param>
      <description>전화번호</description>
      <param-name>tel</param-name>
      <param-value>010-2971-4000</param-value>
    </init-param>
    <init-param>
      <description>비밀번호</description>
      <param-name>password</param-name>
      <param-value>12345678</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/HE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>login.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitList</display-name>
    <servlet-name>VisitList</servlet-name>
    <servlet-class>bbs.VisitList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitList</servlet-name>
    <url-pattern>/VisitList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitInsert</display-name>
    <servlet-name>VisitInsert</servlet-name>
    <servlet-class>bbs.VisitInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitInsert</servlet-name>
    <url-pattern>/VisitInsert</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>name</param-name>
    <param-value>jin han</param-value>
  </context-param>
  <context-param>
    <param-name>age</param-name>
    <param-value>24</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>join</display-name>
    <servlet-name>join</servlet-name>
    <servlet-class>login.join</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>join</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberjoin</display-name>
    <servlet-name>memberjoin</servlet-name>
    <servlet-class>bbs.memberjoin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberjoin</servlet-name>
    <url-pattern>/memberjoin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>member</display-name>
    <servlet-name>member</servlet-name>
    <servlet-class>bbs.member</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>member</servlet-name>
    <url-pattern>/member</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TempMemberVO</display-name>
    <servlet-name>TempMemberVO</servlet-name>
    <servlet-class>jdbc.TempMemberVO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TempMemberVO</servlet-name>
    <url-pattern>/TempMemberVO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TempMemberDAO</display-name>
    <servlet-name>TempMemberDAO</servlet-name>
    <servlet-class>jdbc.TempMemberDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TempMemberDAO</servlet-name>
    <url-pattern>/TempMemberDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>jeju</display-name>
    <servlet-name>jeju</servlet-name>
    <servlet-class>Jeju.jeju</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jeju</servlet-name>
    <url-pattern>/jeju</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>ConnectionPool</description>
    <res-ref-name>jdbc/myOracle</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>